<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
    <!--<facilities>
      <facility
        id="loggingfacility"
        configfile="~\Configurations\log4net.config"
        loggingapi="log4net"
        type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" />
    </facilities>-->

  </configuration>